In [37]:
import pandas as pd
data = pd.read_csv('lexicon.txt', header=None, sep=' ', names = ['type','len','word','pos','stemmed', 'prior_polarity'])
data

,type,len,word,pos,stemmed,prior_polarity
0,type=weaksubj,len=1,abandoned,pos1=adj,stemmed1=n,negative
1,type=weaksubj,len=1,abandonment,pos1=noun,stemmed1=n,negative
2,type=weaksubj,len=1,abandon,pos1=verb,stemmed1=y,negative
3,type=strongsubj,len=1,abase,pos1=verb,stemmed1=y,negative
4,type=strongsubj,len=1,abasement,pos1=anypos,stemmed1=y,negative
...,...,...,...,...,...,...
8217,type=strongsubj,len=1,zealot,pos1=noun,stemmed1=n,negative
8218,type=strongsubj,len=1,zealous,pos1=adj,stemmed1=n,negative
8219,type=strongsubj,len=1,zealously,pos1=anypos,stemmed1=n,negative
8220,type=strongsubj,len=1,zenith,pos1=noun,stemmed1=n,positive
8221,type=strongsubj,len=1,zest,pos1=noun,stemmed1=n,positive

In [38]:
data_used = data[['word','prior_polarity']]
data_used

             word prior_polarity
0       abandoned       negative
1     abandonment       negative
2         abandon       negative
3           abase       negative
4       abasement       negative
...           ...            ...
8217       zealot       negative
8218      zealous       negative
8219    zealously       negative
8220       zenith       positive
8221         zest       positive

[8222 rows x 2 columns]

In [39]:
data_used_array = data_used.to_numpy()
data_used_array

array([['abandoned', 'negative'],
       ['abandonment', 'negative'],
       ['abandon', 'negative'],
       ...,
       ['zealously', 'negative'],
       ['zenith', 'positive'],
       ['zest', 'positive']], dtype=object)

In [40]:
review = pd.read_csv('review.txt', header=None, names=['sentiment_text'])
review

                                        sentiment_text
0    __label__2 Simple way to describe feelings to ...
1    __label__2 Memories with my son reading togeth...
2                                 __label__2 Wonderful
3    __label__2 Love it!: The beautiful illustratio...
4    __label__1 Just didn't resonate with me: I fou...
..                                                 ...
189  __label__2 Obey the warning: This is a fun toy...
190  __label__1 Unbelievable- In a Bad Way: We boug...
191                            __label__1 Almost Great
192  __label__1 Disappointed !!!: I bought this toy...
193  __label__2 Classic Jessica Mitford: This is a ...

[194 rows x 1 columns]

In [41]:
review_array = review.to_numpy()
review_array.shape

(194, 1)

In [71]:
sentiment_score=[]
for row_review_array in range(len(review_array)):
    sentiment_score.append(0)
    for row in range(len(data_used_array)):
        if data_used_array[row][0] in review_array[row_review_array][0].lower():
            if data_used_array[row][1]=='positive':
                sentiment_score[row_review_array]+=1
            elif data_used_array[row][1]=='negative':
                sentiment_score[row_review_array]-=1
            else:
                pass
sentiment_score

[5,
 3,
 3,
 2,
 -3,
 0,
 -1,
 -7,
 6,
 1,
 0,
 1,
 3,
 1,
 -2,
 -12,
 4,
 1,
 4,
 3,
 0,
 4,
 -5,
 5,
 -1,
 1,
 -3,
 -1,
 -1,
 -1,
 2,
 2,
 10,
 0,
 1,
 -1,
 0,
 -3,
 -1,
 -1,
 0,
 1,
 2,
 -5,
 -4,
 -5,
 -3,
 3,
 0,
 5,
 3,
 -2,
 10,
 0,
 5,
 -8,
 15,
 -3,
 -3,
 15,
 3,
 2,
 1,
 2,
 5,
 -5,
 -6,
 6,
 4,
 3,
 7,
 -1,
 -2,
 3,
 3,
 1,
 4,
 -1,
 4,
 1,
 -4,
 8,
 9,
 -3,
 1,
 0,
 -3,
 1,
 0,
 3,
 1,
 0,
 7,
 -3,
 -2,
 4,
 4,
 -1,
 0,
 -3,
 -3,
 3,
 -3,
 0,
 4,
 8,
 2,
 1,
 1,
 7,
 -1,
 -11,
 0,
 -6,
 0,
 -8,
 1,
 3,
 4,
 -1,
 1,
 0,
 0,
 0,
 4,
 -4,
 1,
 -2,
 8,
 8,
 -3,
 -3,
 -1,
 2,
 1,
 5,
 -3,
 0,
 -5,
 3,
 -3,
 6,
 -1,
 -1,
 1,
 5,
 4,
 0,
 3,
 1,
 1,
 -4,
 -3,
 -5,
 5,
 2,
 9,
 -4,
 11,
 7,
 4,
 -3,
 0,
 0,
 4,
 14,
 0,
 2,
 0,
 0,
 1,
 1,
 -1,
 0,
 1,
 4,
 5,
 0,
 0,
 0,
 1,
 0,
 8,
 -4,
 -5,
 5,
 -2,
 -2,
 0,
 -1,
 -3,
 1,
 -7,
 2]

In [74]:
review['sentiment_score'] = sentiment_score
review

                                        sentiment_text  sentiment_score
0    __label__2 Simple way to describe feelings to ...                5
1    __label__2 Memories with my son reading togeth...                3
2                                 __label__2 Wonderful                3
3    __label__2 Love it!: The beautiful illustratio...                2
4    __label__1 Just didn't resonate with me: I fou...               -3
..                                                 ...              ...
189  __label__2 Obey the warning: This is a fun toy...               -1
190  __label__1 Unbelievable- In a Bad Way: We boug...               -3
191                            __label__1 Almost Great                1
192  __label__1 Disappointed !!!: I bought this toy...               -7
193  __label__2 Classic Jessica Mitford: This is a ...                2

[194 rows x 2 columns]

In [76]:
review['sentiment_score'].mean()

0.8762886597938144

In [80]:
review[review['sentiment_score']>0].sentiment_score.count()

98

In [84]:
review[review['sentiment_score']==0].sentiment_score.count()

31

In [85]:
review[review['sentiment_score']<0].sentiment_score.count()

65