In [1]:
import pandas as pd
data=pd.read_csv('mpl.txt', sep='\t')
data

,id,choice1,choice2,choice3,choice4,choice5,choice6,choice7,choice8,choice9,choice10,treatment
0,1,A,A,A,A,B,B,B,B,B,B,1
1,3,A,A,A,A,A,A,B,B,B,B,1
2,4,A,A,A,A,A,A,B,B,B,B,1
3,5,A,A,A,A,A,A,A,B,B,B,1
4,6,A,A,A,A,A,A,B,B,B,B,1
5,8,A,A,A,A,A,A,A,B,B,B,1
6,9,A,A,A,A,B,B,B,B,B,B,1
7,10,A,A,A,B,B,B,B,B,B,B,1
8,11,A,A,B,B,B,B,B,B,B,B,1
9,12,A,A,A,A,A,A,B,B,B,B,1
10,13,A,A,A,A,A,A,A,A,B,B,1
11,14,A,A,A,B,B,B,B,B,B,B,1
12,15,A,A,A,A,A,B,B,B,B,B,1
13,16,A,A,A,A,A,A,B,B,B,B,1
14,17,A,A,A,A,A,A,A,A,B,B,1
15,1,A,A,A,A,B,B,B,B,B,B,2
16,3,A,A,A,A,A,A,B,B,B,B,2
17,4,A,A,A,A,A,A,A,A,B,B,2
18,5,A,A,A,A,A,B,B,B,B,B,2
19,6,A,A,A,A,B,B,B,B,B,B,2
20,7,A,A,A,A,A,A,B,B,B,B,2
21,8,A,A,A,A,A,A,B,B,B,B,2
22,9,A,A,A,A,A,A,B,B,B,B,2
23,10,A,A,A,A,B,B,B,B,B,B,2
24,11,A,A,A,A,A,A,A,A,A,B,2
25,12,A,A,A,B,B,B,B,B,B,B,2
26,13,A,A,A,A,A,A,A,A,B,B,2
27,15,A,A,A,A,A,A,A,A,A,B,2
28,16,A,A,A,B,B,B,B,B,B,B,2
29,17,A,A,A,A,A,A,A,A,B,B,2
30,18,A,A,A,A,A,B,B,B,B,B,2

In [2]:
new_data = data[['id','treatment']]
new_data

    id  treatment
0    1          1
1    3          1
2    4          1
3    5          1
4    6          1
5    8          1
6    9          1
7   10          1
8   11          1
9   12          1
10  13          1
11  14          1
12  15          1
13  16          1
14  17          1
15   1          2
16   3          2
17   4          2
18   5          2
19   6          2
20   7          2
21   8          2
22   9          2
23  10          2
24  11          2
25  12          2
26  13          2
27  15          2
28  16          2
29  17          2
30  18          2

In [3]:
array_to_loop = pd.array(data[['choice1','choice2','choice3','choice4','choice5'
,'choice6','choice7','choice8','choice9','choice10']], dtype='str')
array_to_loop

<PandasArray>
[
['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
['A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B'],
['A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B'],
['A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B'],
['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B']
]
Shape: (31, 10), dtype: str32

In [4]:
switch_id = []
for row in range(array_to_loop.shape[0]):
    for col in range(array_to_loop.shape[1]):
        if array_to_loop[row][col]=='B':
            switch_id.append(col+1)
            break
switch_id

[5,
 7,
 7,
 8,
 7,
 8,
 5,
 4,
 3,
 7,
 9,
 4,
 6,
 7,
 9,
 5,
 7,
 9,
 6,
 5,
 7,
 7,
 7,
 5,
 10,
 4,
 9,
 10,
 4,
 9,
 6]

In [5]:
new_data['switch_id']=switch_id
new_data.to_csv('switch.txt', sep = '\t', index = False)

C:\Users\ZENI\AppData\Local\Temp/ipykernel_12632/1162966162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['switch_id']=switch_id

In [6]:
new_data.groupby('treatment').mean()

               id  switch_id
treatment
1          9.6000      6.400
2          9.6875      6.875

In [7]:
new_data['condition'] = new_data['switch_id']>4
new_data.groupby('condition').count()

C:\Users\ZENI\AppData\Local\Temp/ipykernel_12632/2080120948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['condition'] = new_data['switch_id']>4

           id  treatment  switch_id
condition
False       5          5          5
True       26         26         26

In [17]:
df_risk = new_data.groupby('condition').count()
df_risk['switch_id'].loc[1]

26