# Import Library

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Read Dataset

In [ ]:
df = pd.read_csv('e-commerce_example_dataset.csv')

In [ ]:
df.shape

(100, 3)

In [ ]:
df.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

In [ ]:
df['discount'].value_counts()

discount        65
not-discount    35
Name: discount, dtype: int64

In [ ]:
df.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 1

Apakah rata rata gmv discount > gmv non-discount

H0 : rata-rata gmv discount **sama dengan atau kurang dari** gmv non-discount <br>
H1 : rata-rata gmv discount **lebih dari** gmv non-discount

In [ ]:
#?st.ttest_ind

In [ ]:
discount = df[df['discount']=='discount']
not_discount = df[df['discount']!='discount']

In [ ]:
discount.head()

        gmv  discount  user_id
35  1915181  discount       36
36  1481660  discount       37
37  1517240  discount       38
38  1705569  discount       39
39  1571139  discount       40

In [ ]:
not_discount.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 2

In [ ]:
discount['gmv'].mean()

1624246.553846154

In [ ]:
not_discount['gmv'].mean()

1400420.4

# Langkah 3 & 4

In [ ]:
?st.ttest_ind

In [ ]:
# langkah 3
ttest = st.ttest_ind(a = discount['gmv'], b=not_discount['gmv'])
p_value = ttest.pvalue

# langkah 4
print('P-Value :',p_value)
if p_value >= 0.05:
    print('Tidak cukup bukti menyatakan bahwa rata-rata gmv discount lebih dari gmv non-discount')
else:
    print('Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount')

P-Value : 0.0009942306670295464
Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount

# Case 2 ANOVA

In [ ]:
df2 = pd.read_csv('Iris.csv')

# Langkah 1
# H0 : Rata-rata SepalWidthCm sama untuk semua species
# H1 : Rata-rata SepalWidthCm berbeda untuk beberapa species

# Langkah 2
df_versicolor = df2[df2['Species'] == 'Iris-versicolor']
df_setosa = df2[df2['Species'] == 'Iris-setosa']
df_virginica = df2[df2['Species'] == 'Iris-virginica']

In [ ]:
df2.groupby(['Species'])['SepalWidthCm'].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [ ]:
# Langkah 3
anova = st.f_oneway(df_versicolor['SepalWidthCm'],df_setosa['SepalWidthCm'],df_virginica['SepalWidthCm'])

In [ ]:
pvalue = anova.pvalue
print(pvalue)
if pvalue >= 0.05:
  print('Insufficient Reject H0')
else:
  print('Sufficient Reject H0')

1.3279165184572242e-16
Sufficient Reject H0