In [1]:
import pandas as pd

In [2]:
data_ref = pd.read_excel("Rw_ref_curves.xlsx", sheet_name="Ref")
data_test = pd.read_excel("Rw_ref_curves.xlsx", sheet_name="test_result")

In [3]:
nama_columns_raw = list(data_ref.columns)
nama_columns_loop = nama_columns_raw[1:]

In [4]:
# num row, rw
result = []

for index, row in data_test.iterrows():
    num_row_loop = len(data_ref)
    check_loop = False
    for num_row in range(len(data_ref)):
        num_row_loop -=1
        sum_dev = 0
        if not check_loop:
            for col in nama_columns_loop:
                if row[col] > data_ref[col][num_row_loop]:
                    if col == 3150:
                        if sum_dev < 32:
                            check_loop = True
                            result.append([num_row_loop,  data_ref['Rw'][num_row_loop]])
                            print("done index: ", index)
                    else:
                        continue
                else:
                    if abs(row[col] - data_ref[col][num_row_loop]) < 8:
                        sum_dev += abs(row[col] - data_ref[col][num_row_loop])
                        if sum_dev > 32:
                            break
                        if col == 3150:
                            if sum_dev < 32:
                                check_loop = True
                                result.append([num_row_loop,  data_ref['Rw'][num_row_loop]])
                                print("done index: ", index)
                        else:
                            continue
                    else:
                        break
        else:
            break

done index:  0
done index:  1
done index:  2

In [5]:
result

[[13, 28], [16, 31], [9, 24]]

In [7]:
data_test['Rw'] = pd.DataFrame(result)[1]
data_test

,Rw,100,125,160,200,250,315,400,500,630,800,1000,1250,1600,2000,2500,3150
0,28,14.086895,15.643039,14.734772,10.810118,23.134624,19.246317,27.036881,28.773666,29.590029,29.215850,30.744908,31.584132,32.354183,33.633289,38.657615,38.656940
1,31,9.907264,9.743292,12.098161,15.182877,25.987832,24.291513,31.832788,31.761035,32.539849,32.180337,32.769422,33.670621,33.293505,34.796131,38.996668,38.918676
2,24,12.794811,15.746181,12.330688,6.152857,15.468040,15.217694,23.967032,26.239201,27.696377,26.838040,27.907743,26.328074,27.621601,29.880161,34.606700,33.405624

In [ ]:
# checking result
for count, data in enumerate(result):
    data2 = data_ref.iloc[[data[0]]].T
    data1 = data_test.iloc[[count]].T

    print(data2[data[0]]-data1[count])