In [23]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_excel("DataforSEMBayesian.xlsx")
dataAdrian = pd.read_excel("Adrianresample.xlsx")
dataAlex = pd.read_excel("Alexresample.xlsx")
dataClayton = pd.read_excel("Claytonresample.xlsx")

In [25]:
category = {
    "Acoustic5Scale":{'Not at all':0, 'Slightly':1, 'Moderately':2, 'Very':3, 'Extremely':4},
    "AcousticConsentration":{'Not at all':0, 'Slightly':1, 'Moderately':2, 'Very':3, 'Extremely':4},
    "ThermalSensation":{'Cold':1, 'Cool':2, 'Slightly Cool':3, 'Neutral':4, 'Slightly Warm':5, 'Warm':6, 'Hot':7},
    "SubjectiveAirflow":{'Much Too Still':1, 'Too Still':2, 'Slightly Still':3, 'Just right':4, 'Slightly Breezy':5, 'Too Breezy':6, 'Much Too Breezy':7},
    "SubjectiveHumidity":{'Much Too Dry':1, 'Too Dry':2, 'Slightly Dry':3, 'Just Right':4, 'Slightly Humid':5, 'Too Humid':6, 'Much Too Humid':7},
    "ThermalAcceptability":{'Clearly unacceptable':1, 'Just unacceptable':2, 'Just acceptable':3, 'Clearly acceptable':4}
}

In [26]:
data.replace(category, inplace=True)

In [27]:
adrianID = [
    'id02',
    'id05',
    'id07',
    'Id07',
    'id10',
    'id13',
    'id16',
    'id19',
    'id22'
]
alexID = [
    'id03',
    'id06',
    'id09',
    'id9',
    'id12',
    'id15',
    'id18',
    'id21',
    'id24'
]
claytonID = [
    'id08',
    'id11',
    'id14',
    'id17',
    'id17 ',
    'Id17',
    'Id17 ',
    'Id 17',
    'id20',
    'id23'
]

V1 = []
RH = []
DB_T = []
Globe_T = []

for index, row in data.iterrows():
    if row['ID'] in adrianID:
        # try:
        dataFiltered = dataAdrian[row['EndTime'] < dataAdrian['time']]        
        V1.append(dataFiltered['V1'].values[:1][0])
        RH.append(dataFiltered['RH'].values[:1][0])
        DB_T.append(dataFiltered['DB T'].values[:1][0])
        Globe_T.append(dataFiltered['Globe T'].values[:1][0])
    elif row['ID'] in alexID:
        dataFiltered = dataAlex[row['EndTime'] < dataAlex['time']]        
        V1.append(dataFiltered['V1'].values[:1][0])
        RH.append(dataFiltered['RH'].values[:1][0])
        DB_T.append(dataFiltered['DB T'].values[:1][0])
        Globe_T.append(dataFiltered['Globe T'].values[:1][0])
    elif row['ID'] in claytonID:
        dataFiltered = dataClayton[row['EndTime'] < dataClayton['time']]        
        V1.append(dataFiltered['V1'].values[:1][0])
        RH.append(dataFiltered['RH'].values[:1][0])
        DB_T.append(dataFiltered['DB T'].values[:1][0])
        Globe_T.append(dataFiltered['Globe T'].values[:1][0])
    else:
        V1.append(np.nan)
        RH.append(np.nan)
        DB_T.append(np.nan)
        Globe_T.append(np.nan)
        
    
data['V1'] = V1
data['RH'] = RH
data['DB T'] = DB_T
data['Globe T'] = Globe_T

In [28]:
data[data['V1'].isnull()][['EndTime','ID','V1']]

Empty DataFrame
Columns: [EndTime, ID, V1]
Index: []

In [29]:
data[data['RH'].isnull()][['EndTime','ID','RH']]

Empty DataFrame
Columns: [EndTime, ID, RH]
Index: []

In [30]:
data[data['DB T'].isnull()][['EndTime','ID','DB T']]

Empty DataFrame
Columns: [EndTime, ID, DB T]
Index: []

In [31]:
data[data['Globe T'].isnull()][['EndTime','ID','Globe T']]

Empty DataFrame
Columns: [EndTime, ID, Globe T]
Index: []

In [32]:
data.to_excel("Result_v2.xlsx")

In [33]:
data.head()

,No,StartingTime,EndTime,ID,Acoustic5Scale,Acoustic10Scale,AcousticConsentration,ThermalSensation,SubjectiveAirflow,SubjectiveHumidity,ThermalAcceptability,ThermalForWorking,NoiseLevel,NoiseSensitivity,V1,Globe T,DB T,RH
0,1,2022-02-21 09:15:00,2022-02-21 09:16:00,id05,0,0,0,6,3,3,2,3,40,2,0.116875,27.760000,27.330,65.855
1,2,2022-02-21 09:05:00,2022-02-21 09:16:00,id02,0,0,0,5,2,4,3,3,40,3,0.116875,27.760000,27.330,65.855
2,3,2022-02-21 09:01:00,2022-02-21 09:17:00,id06,0,0,1,4,4,4,4,9,40,2,0.060000,26.936842,27.025,62.590
3,4,2022-02-21 09:15:00,2022-02-21 09:17:00,id03,1,3,2,6,3,3,3,4,40,1,0.060000,26.936842,27.025,62.590
4,5,2022-02-21 09:35:00,2022-02-21 09:36:00,id05,0,0,0,4,3,3,3,4,40,2,0.204583,27.420000,27.085,66.030