In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np
from math import sqrt
from numpy import log
from pandas import Series


import statsmodels as sm

# matplotlib and seaborn are used for plotting graphs
import matplotlib.pyplot as plt
from matplotlib.dates import date2num
import seaborn as sns
from datetime import datetime
import subprocess

In [2]:
data = pd.read_excel("INPUT-SVR-FIX.xlsx") 
data.to_csv('INPUT_SVR-FIX-GRID.csv', index = None, header=True)

In [3]:
data = pd.read_csv('INPUT_SVR-FIX-GRID.csv')

Menghilangkan semua nilai nan yang ada pada data

In [4]:
#data tanpa nilai NaN
data = data.dropna(axis=1, how='all')
data = data.drop(data.columns[[0,1,2,4]],axis=1)
data

,Actual,Crude Oil,S&P 500 Index,Exchange Rate,Dollar Index,Federal Fund Rate,Consumer Price Index
0,21176005.26,56.040000,3066.910000,14123.500000,97.239998,1.570000,12.507399
1,21154941.07,56.330000,3078.270000,14014.000000,97.510002,1.560000,12.507399
2,20796908.44,57.040000,3074.620000,14058.000000,97.980003,1.560000,12.507399
3,20826988.01,56.150000,3076.780000,14028.500000,97.949997,1.550000,12.507399
4,20771336.63,56.910000,3085.180000,14008.000000,98.139999,1.550000,12.507399
...,...,...,...,...,...,...,...
300,26625000.00,51.051261,2684.793145,14148.643555,96.051226,1.149769,12.507399
301,26540625.00,47.500000,3735.360000,13911.143555,90.339996,0.090000,12.507399
302,26483859.69,47.850000,3727.040000,14126.120117,90.010002,0.090000,12.507399
303,26520781.37,48.240000,3732.040000,14069.909180,89.629997,0.090000,12.507399
304,26520781.37,48.350000,3756.070000,13832.559570,89.940000,0.090000,12.507399

In [5]:
X = data.iloc[:,1:7]
Y = data['Actual ']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, shuffle=False)
X_train.shape[0]

228

In [7]:
#from google.colab import drive
#drive.mount('/content/drive')

##data selesai, split train test selesai

# Import GridSearchCV, svm and SVR.

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn import svm
from sklearn.svm import SVR

# Set estimator parameters.

In [9]:
estimator=SVR(kernel='rbf')

# Specify hyperparameters and range of values.

In [10]:
##not important
param_grid={
            'C': [1.1, 5.4, 170, 1001],
            'epsilon': [0.0003, 0.007, 0.0109, 0.019, 0.14, 0.05, 8, 0.2, 3, 2, 7],
            'gamma': [0.7001, 0.008, 0.001, 3.1, 1, 1.3, 5]
        }

In [11]:
grid = GridSearchCV(

estimator=SVR(kernel='rbf'),
        param_grid={
            'C': [1.1, 5.4, 170, 1001],
            'epsilon': [0.0003, 0.007, 0.0109, 0.019, 0.14, 0.05, 8, 0.2, 3, 2, 7],
            'gamma': [0.7001, 0.008, 0.001, 3.1, 1, 1.3, 5]
        },
        cv=5, scoring='neg_mean_squared_error', verbose=0, n_jobs=-1)

In [12]:
grid.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
             param_grid={'C': [1.1, 5.4, 170, 1001],
                         'epsilon': [0.0003, 0.007, 0.0109, 0.019, 0.14, 0.05,
                                     8, 0.2, 3, 2, 7],
                         'gamma': [0.7001, 0.008, 0.001, 3.1, 1, 1.3, 5]},
             scoring='neg_mean_squared_error')

In [13]:
#print the best parameters from all possible combinations
##hasil grid search rbf
print("best parameters are: ", grid.best_params_)

best parameters are:  {'C': 1001, 'epsilon': 0.0003, 'gamma': 0.001}

##Models RBF