In [3]:
import json
f = open('traffic_flow_20230509.txt')
data = json.load(f)
len(data)

2

In [8]:
import pandas as pd
df = pd.DataFrame(data['Value'])
df.head()

,Date,EndLat,EndLon,HourOfDate,LinkID,RoadCat,RoadName,StartLat,StartLon,Volume
0,27/11/2022,1.32835885,103.6366913,8,103104995,CAT2,TUAS VIADUCT,1.327187255,103.6355854,282
1,27/11/2022,1.32835885,103.6366913,7,103104995,CAT2,TUAS VIADUCT,1.327187255,103.6355854,310
2,20/11/2022,1.32835885,103.6366913,8,103104995,CAT2,TUAS VIADUCT,1.327187255,103.6355854,318
3,06/11/2022,1.32835885,103.6366913,8,103104995,CAT2,TUAS VIADUCT,1.327187255,103.6355854,324
4,13/11/2022,1.32835885,103.6366913,8,103104995,CAT2,TUAS VIADUCT,1.327187255,103.6355854,336

In [12]:
df['RoadCat'].unique()

array(['CAT2', 'CAT1', 'SLIP_ROAD', 'CAT3', 'CAT5', 'CAT4'], dtype=object)

In [15]:
df_filtered = df[(df['RoadCat'] == 'CAT1') | (df['RoadCat'] == 'CAT2')]
df_filtered['RoadCat'].value_counts()

CAT2    33846
CAT1    20619
Name: RoadCat, dtype: int64

In [16]:
df_filtered.to_excel("finalDataTrafficFlow.xlsx")