In [2]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [3]:
data = pd.read_excel("Wilcoxon_data.xlsx", sheet_name="Anova")
data.head()

   No   ID-  ID FanSpeed  NoiseLevel  AA5  AA11  Con5   TS   TA  ACMV_ann
0   1  id02   2        0          40  0.0   0.0   0.0  5.0  3.0       1.0
1   2  id02   2   1 or 3          40  0.0   0.0   0.0  5.0  3.0       1.0
2   3  id02   2   2 or 5          40  0.0   0.0   0.0  5.0  3.0       0.0
3   4  id03   3        0          40  1.0   3.0   0.0  4.0  3.0       0.0
4   5  id03   3   1 or 3          40  1.0   3.0   0.0  4.0  3.0       0.0

In [ ]:
f_oneway()