In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("data_raw.xlsx")

In [3]:
nama_columns_raw = list(data.columns)
nama_columns_loop = nama_columns_raw[1::3]

In [31]:
result = []
for count, col in enumerate(nama_columns_loop):
    # print(count,col)
    data_1 = 10**(data.iloc[:,[count*3]]/10)
    # print(data_1)
    data_2 = 10**(data.iloc[:,[count*3+1]]/10)
    # print(data_2)
    data_3 = 10**(data.iloc[:,[count*3+2]]/10)
    # print(data_3)
    hasil = data_1.to_numpy() + data_2.to_numpy() + data_3.to_numpy()
    # print(hasil)
    hasil = 10*np.log10(hasil)
    result.append(hasil.flatten().tolist())

result = pd.DataFrame(result, index=nama_columns_loop)
result = result.T
result

,Z(31.5Hz),Z(63Hz),Z(125Hz),Z(250Hz),Z(500Hz),Z(1kHz),Z(2kHz),Z(4kHz),Z(8kHz)
0,79.210533,79.445183,84.072738,84.809014,82.663372,78.407687,73.555036,66.961591,64.431449
1,87.228659,85.375401,86.547265,86.079205,84.782941,79.781079,76.339993,71.540873,66.530833
2,78.779806,83.176574,81.899050,80.767122,79.637897,73.212307,69.327251,64.254647,62.647841
3,77.256692,76.972677,83.890321,81.330552,79.011875,74.441564,70.973497,69.465520,74.347618
4,77.159090,86.081583,82.596247,81.271980,77.960317,74.320196,73.051298,74.424815,77.517075